body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.gacha-container {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.result {
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}

#image img {
    width: 350px;
    padding-bottom: 2rem;
}
